{% extends 'question/display.html.twig' %}
{% block container %}
    <div class="col-lg-12">
        <div class="form-group">
            <label class="col-form-label" for="inputSuccess"></label>
            <h5> Thanks for submitting! Your answers are now registered!</h5>
        </div></div>

{% endblock %}